html {
    color: #eee;
    font-family: Hack, monospace;
    background-color: #212121;
}


body {
    margin: auto;
    width: 58em;
}

a {
    text-decoration: none;
    color: inherit;
}

a.link {
    font-size: 11px;
    line-height: 65px;
    background-color: #222;
    transition: ease-in-out 0.15s;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0px solid #f48e1a;
}

a.link:hover {
    background-color: #252525;
    color: #f48e1a;
    border-radius: 1px;
    border-bottom: 7px solid;
    border-top: 7px solid;
}

img.hey {
  width: 120%;
  background-color: rgba(25,25,25,1);
  padding: 33px;
}

p.link-cats {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#body-block {
  margin-top: 3.5em;
  margin-bottom: 3.5em;
  width: 70em;
  overflow: hidden;
}

#image {
  width: 300px;
  float: left;
  margin-right: 145px;
  background-color: rgba(25,25,25,1);
}

#links {
  float: left;
  padding: 25px;
  padding-top: 10px;
  background-color: rgba(25,25,25,1);
}
