[Desktop Entry]
Encoding=UTF-8
Name=Adobe Illustrator CS6
Comment=PlayOnLinux
Type=Application
Exec=/usr/share/playonlinux/playonlinux --run "Adobe Illustrator CS6" %F
Icon=/home/eti/.PlayOnLinux//icones/full_size/Adobe Illustrator CS6
Name[fr_FR]=Adobe Illustrator CS6
StartupWMClass=Illustrator.exe
Categories=
