[Desktop Entry]
Encoding=UTF-8
Name=Hearthstone
Comment=PlayOnLinux
Type=Application
Exec=/usr/share/playonlinux/playonlinux --run "Hearthstone" %F
Icon=/home/eti/.PlayOnLinux//icones/full_size/Hearthstone
Name[fr_FR]=Hearthstone
StartupWMClass=Battle.net Launcher.exe
Categories=
